 footer {
    background-color: bisque;
    width: auto; /* 讓 footer 寬度滿版 */
    padding: 20px;
    margin: 0;
    
  }

  section{
    text-align: center;
  }

  .address{
    margin-top: 100px;
    margin-left: 25px;
  }

  .video-container {
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: center; /* 水平置中 */
  }
  
  .video-container video {
    width: 100%;      /* 滿版 */
    max-width: 100%;  /* 不超出螢幕 */
    height: auto;     /* 保持比例 */
  }
  
  .img1{
    width: auto;
    margin-left: 350px;
    margin-top: 20px;
  }

  h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  h5{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .h{
    font-size: 30px;
  }