@charset "utf-8";

  body {
    background-color: rgb(250, 247, 240);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  header {
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px #5b595880;
    z-index: 1100;
  
    display: flex;                 /* ★ 關鍵 */
    align-items: center;           /* 垂直置中 */
    
    
  }

  
.logocolor{
    color: #ae4e09;
}
  .logo-name{
    margin: 8px ;
    margin-right: 220px;
    
  }
  
  ul{
    display: flex;
    justify-content: center;
    list-style-type: none; /* 移除點點*/
    text-align: center;
  }

  li {
    margin: 0px 30px;
    margin-top: 11px;
    
    display: flex; /* 讓圖片與文字橫向排列 */
    align-items: center; /* 垂直置中 */
    
  }
  

  a {
    font-size: 22px;
    font-weight: bold;
    color: #514a45;
    text-decoration: none;
  }

  .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  h3,h4{
  text-align: center;
}
.word{
    color: #ae4e09;
    font-size: 35px;
    margin-left: 75px;
    margin-top: 20px;
}
img {
  width: 300px;
  height: 300px;
}


hr{
    border-left: 3px solid #141111;
    margin-right: 60px;
    margin-left: 60px;
}
.footer {
    background-color: bisque;
    width: auto; /* 讓 footer 寬度滿版 */
    padding: 20px;
    margin: 0;
  }

  .fa-facebook {
    font-size: 32px;
    color: #1877f2; /* Facebook 官方藍 */
  }
  
  .fa-facebook:hover {
    color: #0d65d9;
  }
  